<% if @list %>
<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li><a class="edit" href="/lists/<%= @list_id %>/edit">Edit List</a></li>
    </ul>
  </header>
</section>
<% end %>


<form action ="/lists" method ="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new todo item:</label
    </dt>
    <dd>
      <input name="list_name" placeholder="Todo text" type="text value">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a href="/lists">All lists</a>
<% end %>
