<% if @list %>
  <ul id="lists">
    <li>
      <a>
        <h2><%= @list[:name] %></h2>
        <p>Edit List</p>
      </a>
    </li>
  </ul>
<% end %>


<form action ="/lists" method ="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new todo item:</label
    </dt>
    <dd>
      <input name="list_name" placeholder="Todo text" type="text value">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

